/* ----------------------------------------------------------- */
/* RESET                                                       */
/* ----------------------------------------------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    font-family: var(--ff-sans);
    line-height: 1.5;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: min-content 1fr;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* ----------------------------------------------------------- */
/* CUSTOM PROPERTIES                                           */
/* ----------------------------------------------------------- */


:root {

    /* colors */

    --clr-dark: #24303E;
    --clr-white: #FFFFFF;
    --clr-greyish-blue: #052C3B;
    --clr-light-green: #90D4C6;
    --clr-dark-green: #24554A;
    --clr-grey: #808397;
    --clr-dark-grey: #5B636D;
    --clr-light-grey: #A7AAAD;
    --clr-yellow: #FBD600;

    /* font-families */

    --ff-serif: 'Fraunces', serif;
    --ff-sans: "Barlow", sans-serif;
}

/* ----------------------------------------------------------- */
/* UTILITY CLASSES                                             */
/* ----------------------------------------------------------- */

/* general */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
}

/* typography */

.ff-serif {
    font-family: var(--ff-serif);
}

.ff-sans {
    font-family: var(--ff-sans);
}

.uppercase {
    text-transform: uppercase;
}


/* ----------------------------------------------------------- */
/* COMPONENTS                                                  */
/* ----------------------------------------------------------- */

/* header */

.header-main {
    min-height: 100vh;
    background-image: url(images/mobile/image-header.jpg);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2rem;
    padding-left: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);
    padding-right: clamp(1.5rem, 1.2rem + 1.5vw, 3rem);
    flex-direction: column;
}

@media (min-width: 40rem) {
    .header-main {
        background-image: url(images/desktop/image-header.jpg);
    }
}

.header-main .logo {
    height: 2rem;
    width: auto;    
}

.header-main>nav {
    align-items: center;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin-left: auto;
}

.primary-navigation {
    flex-direction: row;
    gap: clamp(0.5rem, -1.091rem + 4.545vw, 3rem);
}

.primary-navigation a {
    text-decoration: none;
    font-size: 1.125rem;
    color: var(--clr-white);
    transition: color 200ms linear;
}

.primary-navigation a:hover {
    color: var(--clr-greyish-blue);
}

a.primary-navigation_contact {
    padding: 1rem 2rem;
    border-radius: 1.75rem;
    background-color: rgba(255, 255, 255);
    mix-blend-mode: normal;
    color: var(--clr-dark);
}

a.primary-navigation_contact:hover {
    background-color: rgba(255, 255, 255, 0.25);
    mix-blend-mode: normal;
    color: var(--clr-white);
    transition: background-color 200ms linear;
}

.mobile-nav-toggle {
    display: none;
}

@media (max-width: 40rem) {
    .primary-navigation {
        position: fixed;
        z-index: 1000;
        inset: 5rem clamp(1.5rem, 1.3rem + 1vw, 2.5rem) 0 clamp(1.5rem, 1.2rem + 1.5vw, 3rem);
        list-style: none;
        margin: 0;
        flex-direction: column;
        align-items: center;
        padding-left: 2rem;
        padding-block: 1rem;
        justify-content: space-evenly;
        transform: translateX(120%);
        transition: opacity 500ms ease-in-out;
        background-color: var(--clr-white);
        height: 20rem;
        border-top: transparent solid 2rem;
        border-right: var(--clr-white) solid 2rem;
        background-clip: padding-box;
        gap: unset;
        opacity: 0;
    }

    .primary-navigation a {
        color: var(--clr-dark-grey);
    }

    .primary-navigation a:hover {
        color: var(--clr-dark-grey);
    }

    a.primary-navigation_contact {
        padding: 1rem 2rem;
        background-color: var(--clr-yellow);
        color: var(--clr-dark);
    }

    a.primary-navigation_contact:hover {
        background-color: var(--clr-yellow);
        color: var(--clr-dark);
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
        opacity: 1;
    }

    .mobile-nav-toggle {
        display: block;
        margin-left: auto;
        z-index: 2000;
        background-color: transparent;
        background-image: url(images/icon-hamburger.svg);
        background-repeat: no-repeat;
        width: 1.5rem;
        aspect-ratio: 1;
        border: 0;
        transition: opacity 400ms;
        opacity: 1;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        opacity: 0.5;
    }

    .mobile-nav-toggle:focus-visible {
        outline: 2px solid var(--clr-greyish-blue);
        outline-offset: 5px;
    }

}

.header-main>h1 {
    font-weight: 900;
    letter-spacing: 8.75px;
    text-align: center;
    margin-top: 20vh;
    font-size: (2.5rem, 1.786rem + 1.905vw, 3.5rem);
    color: var(--clr-white)
}

.header-main>h1::after {
    display: block;
    content: "";
    background-image: url(images/icon-arrow-down.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.875rem;
    height: 6.7rem;
    margin: 0 auto;
    position: absolute;
    bottom: 30vh;
    left: 0;
    right: 0;
    animation: bounce 0.65s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    from {
        transform: translate3d(0, -1rem, 0);
    }

    to {
        transform: translate3d(0, 1rem, 0);
    }
}

@media (min-width: 40rem) {
    .header-main>h1::after {
        bottom: 43vh;
    }
}

/* features-section */

.features-section {
    grid-template-columns: 1fr;
    background-color: var(--clr-white);
}

.features-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
}

@media (min-width: 60rem) {
    .features-section img {
        height: 100%;
    }

    .features-section {
        grid-template-columns: 1fr 1fr;
    }

    .features-section_image-transform {
        grid-area: 1/2/2/3;
    }

    .features-section_image-standout {
        grid-area: 2/1/3/2;
    }
}

.features-section_article {
    margin-block: 4rem;
    max-width: 447px;
    width: 90vw;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.features-section_article h2 {
    font-size: clamp(2rem, 1.9rem + 0.5vw, 2.5rem);
    font-weight: 900;
    letter-spacing: -0.285714px;
    margin-bottom: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
}

.features-section_article p {
    color: var(--clr-grey);
    font-size: 1.125rem;
    margin-bottom: clamp(2rem, 1.9rem + 0.5vw, 2.5rem);
}

.features-section_article a {
    text-decoration: none;
    font-size: 0.94rem;
    color: var(--clr-dark);
    z-index: 2;
    position: relative;
}

.features-section_article a::after {
    content: "";
    position: absolute;
    width: 110%;
    height: 0.625rem;
    top: 0.8rem;
    left: -5%;
    background: #FAD400;
    mix-blend-mode: normal;
    opacity: 0.25;
    border-radius: 28px;
    z-index: -1;
    transition: opacity 200ms linear;
}

.features-section_article:nth-of-type(2) a:after{
    background: #FE7766;
}

.features-section_article a:hover::after {
    opacity: 1;
}

.features-section_article a:hover {}

@media (min-width: 60rem) {
    .features-section_article {
        text-align: left;
        margin-inline: min(6.875rem, 4vw) 2vw;
        width: auto;
    }

    .features-section_article:first-of-type {
        margin-inline: 2vw min(6.875rem, 4vw);
    }
}

/* services-section */

.services-section {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 60rem) {
    .services-section {
        grid-template-columns: 1fr 1fr;
    }
}

.services-section_article {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.services-section_article h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: max(24.875rem, 47vh);
}

.services-section_article p {
    font-size: 1rem;
    font-weight: 900;
    width: 90vw;
    max-width: 345px;
    margin: 1.5rem auto 3.75rem;
}

.services-section_article:first-of-type {
    color: var(--clr-dark-green);
    background-image: url(images/desktop/image-graphic-design.jpg);
}

.services-section_article:nth-of-type(2) {
    color: var(--clr-greyish-blue);
    background-image: url(images/desktop/image-photography.jpg);
}

/* clients-section */

.clients-section {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin: 4rem auto 6rem;
    gap: 4rem 0.5rem;
    max-width: 95vw;
}

@media (min-width: 60rem) {
    .clients-section {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 10rem auto;
        width: 69.375rem;
        max-width: 95vw;
        gap: 0 0.5rem;
    }
}

.clients-section h2 {
    text-align: center;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    letter-spacing: 0.32rem;
    color: var(--clr-light-grey);
    margin-bottom: 4rem;
}

@media (min-width: 60rem) {
    .clients-section h2 {
        grid-area: 1/1/2/4;
        margin-bottom: 5rem;
    }
}

.clients-section_article {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 21rem;
    margin: 0 auto;
}

.clients-section_article>img {
    width: 4.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-bottom: 2rem;
}

@media (min-width: 60rem) {
    .clients-section_article>img {
        margin-bottom: 3.5rem;
    }
}

.client-review {
    font-size: 1.125rem;
    color: var(--clr-dark-grey);
    line-height: 178%;
    text-align: center;
    margin-bottom: 2rem;
}

@media (min-width: 60rem) {
    .client-review {
        margin-bottom: 4.25rem;
    }
}

.client-name {
    font-size: 1.125rem;
    margin-bottom: 0.625rem;
    color: var(--clr-dark);
}

.client-position {
    font-size: 0.875rem;
    color: var(--clr-light-grey);
}

/* gallery-section */

.gallery-section {
    grid-template-columns: 1fr 1fr;
    background-color: var(--clr-white);
}

.gallery-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
    aspect-ratio: 1;
}

@media (min-width: 60rem) {
    .gallery-section img {
        height: 100%;
        aspect-ratio: unset;
    }

    .gallery-section {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* footer */

.footer-main{
    background-color: var(--clr-light-green);
    color: var(--clr-dark-green);
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 5rem;
}

.footer-main .logo {
    filter: brightness(0) saturate(100%) invert(48%) sepia(7%) saturate(2195%) hue-rotate(117deg) brightness(70%) contrast(94%);
    height: 2rem;
    width: 10.625rem;
    margin-bottom: 2.5rem;
}

.secondary-navigation {
    list-style: none;
    width: 18.75rem;
    padding-left: 0;
    justify-content: space-between;
    margin-bottom: 5.5rem;
}

.secondary-navigation>li>a{
    text-decoration: none;
    color: var(--clr-dark-green);
}

.secondary-navigation>li>a:hover{
    color: var(--clr-white)
}

.social-links {
    list-style: none;
    width: 10.25rem;
    padding-left: 0;
    justify-content: space-between;
}

.social-links>li>a>img:hover{
    filter: brightness(0) saturate(100%) invert(100%) sepia(12%) saturate(7451%) hue-rotate(251deg) brightness(120%) contrast(111%);
}